@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Italic.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Italic.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Light.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --text-color: #242121;
  --title-color: #01353E;
  --decor-color: #00B2A0;
  --menu-bg-color: #155861;
  --white: #fff;
  --bg-sec-color: #F8F8F8;
  --tabs-hover: #C4C4C4;
  --container-width: 1200px;
  --container-gap: 15px;
  --header-height: 132px;
  --main-font: "Roboto Condensed", sans-serif;
  --second-font: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100dvh;
}

img,
svg,
source,
picture,
video {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

a,
input,
button,
textarea,
select,
option,
label {
  cursor: pointer;
  font: inherit;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 0.6px;
  color: var(--text-color);
  background-color: var(--white);
}
body * {
  line-height: 120%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: calc(var(--container-width) + var(--container-gap) * 2);
  padding: 0 var(--container-gap);
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

.section-title {
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--title-color);
  position: relative;
}
.section-title::after {
  content: "/";
  position: absolute;
  bottom: -20px;
  font-size: 4.5rem;
  color: var(--decor-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 42px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
  transition: transform 0.3s, background 0.3s, padding 0.3s;
}
.header.hidden {
  transform: translateY(-100%);
}
.header.bg-color {
  background: var(--menu-bg-color);
  padding: 15px 0;
}
@media (max-width: 1280px) {
  .header {
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 15px 0;
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  background: var(--menu-bg-color);
  transition: right 0.3s;
  z-index: 1;
}
.header.active::before {
  right: 0;
}
.header__body {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .header__body {
    grid-template-columns: 60px 1fr;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
  transition: all 0.3s;
}
.header__logo img {
  display: block;
}
@media (any-hover: hover) {
  .header__logo:hover {
    transform: scale(1.1);
  }
}
.header__menu {
  justify-self: center;
}

@media (max-width: 1024px) {
  .menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100dvh;
    padding-top: calc(var(--header-height) + 20px);
    padding-bottom: 40px;
    background: var(--menu-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    transition: right 0.3s;
  }
  .menu.active {
    right: 0;
  }
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 45px;
}
@media (max-width: 1024px) {
  .menu__list {
    flex-direction: column;
    gap: 20px;
  }
}
.menu__link {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--decor-color);
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover::after {
    width: 100%;
  }
}

.menu-btn {
  display: none;
  border: none;
  background: transparent;
  position: relative;
  z-index: 2;
  width: 35px;
  height: 25px;
}
@media (max-width: 1024px) {
  .menu-btn {
    display: block;
    justify-self: flex-end;
  }
}
.menu-btn span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--white);
  transition: all 0.3s;
}
.menu-btn::before, .menu-btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--white);
  transition: all 0.3s;
}
.menu-btn::before {
  top: 0;
}
.menu-btn::after {
  bottom: 0;
}
.menu-btn.active span {
  opacity: 0;
}
.menu-btn.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.menu-btn.active::after {
  bottom: unset;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.first {
  position: relative;
}
.first::after {
  content: "";
  background: linear-gradient(180deg, #01353e 0%, rgba(51, 51, 51, 0.6) 31.64%, rgba(51, 51, 51, 0.22) 74.35%, rgba(51, 51, 51, 0) 99.87%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45dvh;
}
.first__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.first__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first__body {
  padding-top: calc(var(--header-height) + 20px);
  padding-bottom: 92px;
  min-height: 100dvh;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1440px) {
  .first__body {
    padding-bottom: 60px;
  }
}
@media (max-width: 1024px) {
  .first__body {
    padding-bottom: 40px;
  }
}
.first__title {
  margin: 0;
  margin-top: auto;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 12.5rem;
  text-transform: uppercase;
  color: var(--title-color);
}
@media (max-width: 1440px) {
  .first__title {
    font-size: 9.375rem;
  }
}
@media (max-width: 1280px) {
  .first__title {
    font-size: 8.125rem;
  }
}
@media (max-width: 1024px) {
  .first__title {
    font-size: 6.25rem;
  }
}
@media (max-width: 768px) {
  .first__title {
    font-size: 5rem;
  }
}
@media (max-width: 550px) {
  .first__title {
    font-size: 4.375rem;
  }
}
.first__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 1024px) {
  .first__subtitle {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  .first__subtitle {
    font-size: 1rem;
  }
}
.first__subtitle:not(:last-child) {
  margin-bottom: 80px;
}
.first__icon {
  color: var(--white);
  margin-top: auto;
  transition: all 0.3s;
  height: 69px;
  width: 40px;
}
@media (max-width: 1024px) {
  .first__icon {
    height: 50px;
  }
}
.first__icon svg {
  display: block;
}
@media (any-hover: hover) {
  .first__icon:hover {
    color: var(--decor-color);
  }
}

.about {
  padding: 120px 0;
}
@media (max-width: 1024px) {
  .about {
    padding: 90px 0;
  }
}
@media (max-width: 550px) {
  .about {
    padding: 60px 0;
  }
}
.about__title {
  margin: 0 auto;
  max-width: 890px;
  text-align: center;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 2.1875rem;
  }
  .about__title::after {
    font-size: 3.75rem;
  }
}
@media (max-width: 768px) {
  .about__title {
    font-size: 1.5625rem;
  }
  .about__title::after {
    font-size: 3.125rem;
  }
}
@media (max-width: 550px) {
  .about__title {
    font-size: 1.4375rem;
  }
  .about__title::after {
    display: none;
  }
}
.about__title:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .about__title:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 550px) {
  .about__title:not(:last-child) {
    margin-bottom: 40px;
  }
}

.about-descr {
  -moz-columns: 2;
       columns: 2;
}
@media (max-width: 768px) {
  .about-descr {
    -moz-columns: 1;
         columns: 1;
  }
}
.about-descr * {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.about-descr__text {
  margin: 0;
  padding-right: 120px;
}
@media (max-width: 1280px) {
  .about-descr__text {
    padding-right: 60px;
  }
}
@media (max-width: 1024px) {
  .about-descr__text {
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .about-descr__text {
    padding-right: unset;
  }
}
.about-descr__text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .about-descr__text:not(:last-child) {
    margin-bottom: 20px;
  }
}

.services {
  padding: 120px 0;
  background: var(--bg-sec-color);
}
@media (max-width: 1024px) {
  .services {
    padding: 90px 0;
  }
}
@media (max-width: 550px) {
  .services {
    padding: 60px 0;
  }
}
.services__title {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
@media (max-width: 1024px) {
  .services__title {
    font-size: 2.1875rem;
  }
  .services__title::after {
    font-size: 3.75rem;
  }
}
@media (max-width: 768px) {
  .services__title {
    font-size: 1.5625rem;
  }
  .services__title::after {
    font-size: 3.125rem;
  }
}
@media (max-width: 550px) {
  .services__title {
    font-size: 1.375rem;
  }
  .services__title::after {
    display: none;
  }
}
.services__title:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .services__title:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 550px) {
  .services__title:not(:last-child) {
    margin-bottom: 40px;
  }
}
.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px;
}
@media (max-width: 1024px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (max-width: 550px) {
  .services__list {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.services__list:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 550px) {
  .services__list:not(:last-child) {
    margin-bottom: 40px;
  }
}
.services__info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .services__info {
    display: block;
  }
}

.services-list__title-box {
  display: flex;
  align-items: center;
}
.services-list__title-box:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .services-list__title-box:not(:last-child) {
    margin-bottom: 20px;
  }
}
.services-list__icon {
  width: 50px;
  height: 50px;
}
@media (max-width: 550px) {
  .services-list__icon {
    width: 40px;
    height: 40px;
  }
}
.services-list__icon:not(:last-child) {
  margin-right: 10px;
}
.services-list__icon img {
  display: block;
}
.services-list__title {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .services-list__title {
    font-size: 1.4375rem;
  }
}
@media (max-width: 550px) {
  .services-list__title {
    font-size: 1.1875rem;
  }
}
.services-list__text {
  margin: 0;
}

.services-info__stat {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 0 1 346px;
}
@media (max-width: 1024px) {
  .services-info__stat {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .services-info__stat {
    max-width: 100%;
  }
}
.services-info__stat:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .services-info__stat:not(:last-child) {
    margin-right: unset;
    margin-bottom: 50px;
  }
}
@media (max-width: 550px) {
  .services-info__stat:not(:last-child) {
    margin-bottom: 40px;
  }
}
.services-info__text {
  max-width: 600px;
}
@media (max-width: 1024px) {
  .services-info__text {
    max-width: 100%;
  }
}
.services-info__text p {
  margin: 0;
}
.services-info__text p:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .services-info__text p:not(:last-child) {
    margin-bottom: 20px;
  }
}

.info-stat__item:not(:last-child) {
  margin-bottom: 10px;
}
.info-stat__text {
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
}
.progress__line {
  --width: 100%;
  --height: 15px;
  --image-url: url("../images/services/progress-line.svg");
  background: var(--image-url) left/100% var(--height) no-repeat;
  width: var(--width);
  height: var(--height);
}
.progress__number {
  margin-left: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 75%;
}

.conquer {
  background: var(--white);
  --gap: 90px;
  --width: 33%;
  display: flex;
  gap: 10px var(--gap);
  padding-left: max(var(--container-gap), (100% - var(--container-width)) / 2);
}
.conquer > *:first-child {
  flex: 0 0 var(--width);
}
.conquer > *:last-child {
  flex: 0 1 calc(100% - var(--width) - var(--gap));
}
@media (max-width: 1440px) {
  .conquer {
    --width: 40%;
  }
}
@media (max-width: 1024px) {
  .conquer {
    flex-direction: column;
    padding: 0 var(--container-gap);
  }
}
.conquer__info {
  padding: 120px 0;
}
@media (max-width: 1024px) {
  .conquer__info {
    padding: 90px 0 40px;
  }
}
@media (max-width: 550px) {
  .conquer__info {
    padding-top: 60px;
  }
}
.conquer__title {
  margin: 0;
}
@media (max-width: 1024px) {
  .conquer__title {
    font-size: 2.1875rem;
    text-align: center;
  }
  .conquer__title::after {
    font-size: 3.75rem;
  }
}
@media (max-width: 768px) {
  .conquer__title {
    font-size: 1.5625rem;
  }
  .conquer__title::after {
    font-size: 3.125rem;
  }
}
@media (max-width: 550px) {
  .conquer__title {
    font-size: 1.4375rem;
  }
  .conquer__title::after {
    display: none;
  }
}
.conquer__title:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .conquer__title:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 550px) {
  .conquer__title:not(:last-child) {
    margin-bottom: 40px;
  }
}
.conquer__text p {
  margin: 0;
}
.conquer__text p:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .conquer__text p:not(:last-child) {
    margin-bottom: 20px;
  }
}
.conquer__image {
  position: relative;
}
@media (max-width: 1024px) {
  .conquer__image {
    padding-bottom: 45%;
    margin: 0 calc(var(--container-gap) * -1);
  }
}
@media (max-width: 768px) {
  .conquer__image {
    padding-bottom: 55%;
  }
}
@media (max-width: 550px) {
  .conquer__image {
    padding-bottom: 70%;
  }
}
.conquer__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.gallery {
  background: var(--white);
  padding: 120px 0;
}
@media (max-width: 1024px) {
  .gallery {
    padding: 90px 0;
  }
}
@media (max-width: 550px) {
  .gallery {
    padding: 60px 0;
  }
}
.gallery__title {
  margin: 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .gallery__title {
    font-size: 2.1875rem;
  }
  .gallery__title::after {
    font-size: 3.75rem;
  }
}
@media (max-width: 768px) {
  .gallery__title {
    font-size: 1.5625rem;
  }
  .gallery__title::after {
    font-size: 3.125rem;
  }
}
@media (max-width: 550px) {
  .gallery__title {
    font-size: 1.4375rem;
  }
  .gallery__title::after {
    display: none;
  }
}
.gallery__title:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .gallery__title:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 550px) {
  .gallery__title:not(:last-child) {
    margin-bottom: 40px;
  }
}
.gallery__tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px 20px;
  flex-wrap: wrap;
}
.gallery__tabs:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 550px) {
  .gallery__tabs:not(:last-child) {
    margin-bottom: 40px;
  }
}
.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.gallery__list:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 550px) {
  .gallery__list:not(:last-child) {
    margin-bottom: 40px;
  }
}
.gallery__btn {
  text-decoration: none;
  display: block;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--tabs-hover);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .gallery__btn {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .gallery__btn:hover {
    color: var(--decor-color);
    border-color: var(--decor-color);
  }
}

.tabs__btn {
  padding: 0;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: inherit;
  color: inherit;
  text-transform: uppercase;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .tabs__btn {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .tabs__btn:hover {
    color: var(--tabs-hover);
  }
}
.tabs__btn.active {
  color: var(--decor-color);
}

.gallery-list {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .gallery-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .gallery-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.gallery-list__item {
  position: relative;
  min-height: 280px;
  opacity: 1;
}
.gallery-list__item:first-child {
  grid-column: span 2;
}
@media (max-width: 550px) {
  .gallery-list__item:first-child {
    grid-column: span 1;
  }
}
.gallery-list__item:last-child {
  grid-column: span 2;
}
@media (max-width: 550px) {
  .gallery-list__item:last-child {
    grid-column: span 1;
  }
}
.gallery-list__item.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9999;
}
.gallery-list__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gallery-list__link::after {
  content: "";
  background: var(--text-color);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .gallery-list__link:hover::after {
    opacity: 0.7;
  }
}
.gallery-list__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote {
  background: var(--bg-sec-color);
  padding: 80px 0;
}
@media (max-width: 550px) {
  .quote {
    padding: 60px 0;
  }
}
.quote .container {
  --container-width: 870px;
}
.quote__blockquote {
  margin: 0;
}
.quote__text {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  font-size: 2.25rem;
  line-height: 110%;
}
@media (max-width: 768px) {
  .quote__text {
    font-size: 1.875rem;
  }
}
@media (max-width: 550px) {
  .quote__text {
    font-size: 1.75rem;
  }
}
.quote__text:not(:last-child) {
  margin-bottom: 10px;
}
.quote__author {
  margin: 0;
  text-align: right;
  font-style: italic;
  line-height: 130%;
}
@media (max-width: 550px) {
  .quote__author {
    text-align: center;
  }
}

.video {
  padding-top: 120px;
}
@media (max-width: 1024px) {
  .video {
    padding-top: 90px;
  }
}
@media (max-width: 550px) {
  .video {
    padding-top: 60px;
  }
}
.video__body {
  position: relative;
  padding-bottom: 50%;
}
@media (max-width: 768px) {
  .video__body {
    padding-bottom: 60%;
  }
}
@media (max-width: 550px) {
  .video__body {
    padding-bottom: 70%;
  }
}
.video__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
}
@media (max-width: 1024px) {
  .video__btn {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .video__btn {
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 550px) {
  .video__btn {
    width: 55px;
    height: 55px;
  }
}
.video__btn svg {
  display: block;
}
.video__btn svg circle,
.video__btn svg path {
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .video__btn svg:hover circle {
    fill: #373a39;
  }
  .video__btn svg:hover path {
    fill: var(--decor-color);
  }
}

.record {
  background: var(--white);
  padding: 120px 0;
}
@media (max-width: 1024px) {
  .record {
    padding: 90px 0;
  }
}
@media (max-width: 550px) {
  .record {
    padding: 60px 0;
  }
}
.record .container {
  --container-width: 870px;
}
.record__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 100px;
}
@media (max-width: 1024px) {
  .record__list {
    gap: 30px 80px;
  }
}
@media (max-width: 768px) {
  .record__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .record__list {
    flex-direction: column;
  }
}
.record__item {
  text-align: center;
}
.record__item span {
  display: block;
  margin-bottom: 5px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 4rem;
}
@media (max-width: 550px) {
  .record__item span {
    font-size: 3.4375rem;
  }
}

.blog {
  background: var(--white);
}
.blog__title {
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .blog__title {
    font-size: 2.1875rem;
  }
  .blog__title::after {
    font-size: 3.75rem;
  }
}
@media (max-width: 768px) {
  .blog__title {
    font-size: 1.5625rem;
  }
  .blog__title::after {
    font-size: 3.125rem;
  }
}
@media (max-width: 550px) {
  .blog__title {
    font-size: 1.4375rem;
  }
  .blog__title::after {
    display: none;
  }
}
@media (max-width: 1024px) {
  .blog__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 550px) {
  .blog__title {
    margin-bottom: 40px;
  }
}
.blog__pagination {
  position: absolute;
  z-index: 2;
  bottom: 10% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.blog__pagination .swiper-pagination-bullet {
  margin: 0 !important;
  width: 15px;
  height: 15px;
  background: var(--white);
  opacity: 1;
  transition: all 0.3s;
}
.blog__pagination .swiper-pagination-bullet-active {
  background: var(--decor-color);
}

.slide-blog {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-blog::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  opacity: 0.5;
}
.slide-blog__container {
  min-height: 75dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
@media (max-width: 550px) {
  .slide-blog__container {
    align-items: flex-start;
  }
}
.slide-blog__content {
  max-width: 50%;
  color: var(--white);
}
@media (max-width: 550px) {
  .slide-blog__content {
    max-width: 100%;
  }
}
.slide-blog__title {
  margin: 0;
}
@media (max-width: 768px) {
  .slide-blog__title:not(:last-child) {
    margin-bottom: 10px;
  }
}
.slide-blog__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  color: inherit;
}
@media (max-width: 1200px) {
  .slide-blog__link {
    font-size: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .slide-blog__link {
    font-size: 1.875rem;
  }
}
@media (max-width: 768px) {
  .slide-blog__link {
    font-size: 1.375rem;
  }
}
.slide-blog__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-blog__text {
  margin: 0;
}