.about {
	padding: 120px 0; // от себя

	@media (max-width: 1024px) {
		padding: 90px 0;
	}
	
	@media (max-width: 550px) {
		padding: 60px 0;
	}

	&__title {
		margin: 0 auto;
		max-width: 890px;
		text-align: center;

		@media (max-width: 1024px) {
			font-size: rem(35);

			&::after {
				font-size: rem(60);
			}
		}

		@media (max-width: 768px) {
			font-size: rem(25);

			&::after {
				font-size: rem(50);
			}
		}

		@media (max-width: 550px) {
			font-size: rem(23);

			&::after {
				display: none;
			}
		}

		&:not(:last-child) {
			margin-bottom: 70px; // от себя

			@media (max-width: 1024px) {
				margin-bottom: 60px;
			}

			@media (max-width: 550px) {
				margin-bottom: 40px;
			}
		}
	}
}

.about-descr {
	columns: 2;

	@media (max-width: 768px) {
		columns: 1;
	}

	*{
		break-inside: avoid; // чтобы нормально абзацы переносились (при добавлении новых абзацев)
	}

	&__text {
		margin: 0;
		padding-right: 120px;

		@media (max-width: 1280px) {
			padding-right: 60px;
		}

		@media (max-width: 1024px) {
			padding-right: 40px;
		}

		@media (max-width: 768px) {
			padding-right: unset;
		}

		&:not(:last-child) {
			margin-bottom: 30px;

			@media (max-width: 550px) {
				margin-bottom: 20px;
			}
		}
	}
}
