.services {
	padding: 120px 0;
	background: var(--bg-sec-color);

	@media (max-width: 1024px) {
		padding: 90px 0;
	}

	@media (max-width: 550px) {
		padding: 60px 0;
	}

	&__body {
	}

	&__title {
		margin: 0 auto;
		max-width: 700px;
		text-align: center;

		@media (max-width: 1024px) {
			font-size: rem(35);

			&::after {
				font-size: rem(60);
			}
		}

		@media (max-width: 768px) {
			font-size: rem(25);

			&::after {
				font-size: rem(50);
			}
		}

		@media (max-width: 550px) {
			font-size: rem(22);

			&::after {
				display: none;
			}
		}

		&:not(:last-child) {
			margin-bottom: 70px;

			@media (max-width: 1024px) {
				margin-bottom: 60px;
			}

			@media (max-width: 550px) {
				margin-bottom: 40px;
			}
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 75px;

		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 50px;
		}

		@media (max-width: 550px) {
			grid-template-columns: 1fr;
			gap: 40px;
		}

		&:not(:last-child) {
			margin-bottom: 50px;

			@media (max-width: 550px) {
				margin-bottom: 40px;
			}
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1024px) {
			display: block;
		}
	}
}

.services-list {
	&__item {
	}

	&__title-box {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 30px;

			@media (max-width: 550px) {
				margin-bottom: 20px;
			}
		}
	}

	&__icon {
		width: 50px;
		height: 50px;

		@media (max-width: 550px) {
			width: 40px;
			height: 40px;
		}

		&:not(:last-child) {
			margin-right: 10px;
		}

		img {
			display: block;
		}
	}

	&__title {
		margin: 0;

		font-weight: 400;
		font-size: rem(24);
		text-transform: uppercase;

		@media (max-width: 1024px) {
			font-size: rem(23);
		}

		@media (max-width: 550px) {
			font-size: rem(19);
		}
	}

	&__text {
		margin: 0;
	}
}

.services-info {
	&__stat {
		margin: 0;
		padding: 0;
		list-style-type: none;
		flex: 0 1 346px;

		@media (max-width: 1024px) {
			max-width: 50%;
		}

		@media (max-width: 768px) {
			max-width: 100%;
		}

		&:not(:last-child) {
			margin-right: 30px;

			@media (max-width: 1024px) {
				margin-right: unset;
				margin-bottom: 50px;
			}

			@media (max-width: 550px) {
				margin-bottom: 40px;
			}
		}
	}

	&__text {
		max-width: 600px;

		@media (max-width: 1024px) {
			max-width: 100%;
		}

		p {
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 30px;

				@media (max-width: 550px) {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.info-stat {
	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__progress {
	}

	&__text {
		margin: 0;
	}
}

.progress {
	display: flex;
	align-items: center;

	&__line {
		--width: 100%; // на всякий случай, если в html не указано
		--height: 15px;
		--image-url: url("../images/services/progress-line.svg");

		background: var(--image-url) left/100% var(--height) no-repeat;
		width: var(--width);
		height: var(--height);
	}

	&__number {
		margin-left: 10px;
		font-weight: 400;
		font-size: 24px;
		line-height: 75%;
	}
}
